@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    div[data-mode="simple"] {
        background-image: url(../img/triangle.svg);
    }

    div[data-mode="simple"]>ul {
        @apply gap-x-10;
    }

    div[data-mode]>ul {
        @apply grid-cols-2;
    }

    div[data-mode="simple"]>ul>li:nth-child(3) {
        @apply col-span-2 place-self-center;
    }

    div[data-mode="simple"]>ul>li:nth-child(2) {
        @apply place-self-end;
    }

    div[data-mode="simple"]>ul>li:nth-child(4) {
        @apply hidden;
    }

    div[data-mode="simple"]>ul>li:nth-child(5) {
        @apply hidden;
    }

    div[data-mode="simple"] img {
        @apply w-[198px] h-[203px];
    }







    div[data-mode="advanced"] {
        background-image: url(../img/polygon.svg);
    }

    div[data-mode="advanced"]>ul>li:nth-child(1) {
        grid-column: 1/3;
        place-self: center;
        @apply mb-[-55px]
    }

    div[data-mode="advanced"]>ul>li:nth-child(2) {
        @apply place-self-start;
    }

    div[data-mode="advanced"]>ul>li:nth-child(3) {
        @apply place-self-end;
    }

    div[data-mode="advanced"]>ul>li:nth-child(4) {
        @apply place-self-end;
    }

    div[data-mode="advanced"]>ul>li:nth-child(5) {
        @apply place-self-start;
    }

    div[data-mode="advanced"]>ul {
        @apply gap-y-6 gap-x-20;
    }

    div[data-mode="advanced"] img {
        @apply w-[145px] h-[148px];
    }
    body{
        @apply pt-12
    }

    @media only screen and (max-width:600px) {
        #status{
            font-size: 24px;
        }
        .js-hand {
            width: 130px;
            height: 130px;
        }

        #css-tringle {
            background-image: url(../img/bg-phone.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        div[data-mode="simple"]>ul{
            @apply gap-y-10;
        }
        div[data-mode="simple"]>ul>li:nth-child(1) {
            @apply pb-10;
        }
        div[data-mode="simple"]>ul>li:nth-child(2) {
            @apply place-self-start pb-10;
        }
        div[data-mode="simple"]>ul>li:nth-child(3) {
            @apply place-self-center mt-[-50px] ;
        }


        div[data-mode="simple"] {
            background-image: none;
        }

        div[data-mode="simple"]>ul>li:nth-child(1) {
            @apply place-self-end;
        }

        div[data-mode="simple"]>ul>li:nth-child(3) {
            @apply mb-2;
        }

        div[data-mode="advanced"]>#css-tringle {
            background-image: none;
        }

        div[data-mode="advanced"]>.js-hand {
            @apply w-[96px] h-[97px];
        }
        .bottom-img{
            @apply w-[130px] h-[133px];
        }
         #secondgame{
            @apply flex-col;
         }
         #header{
            @apply max-h-[96px] py-1 px-3;
         }
         #score{
            @apply text-[30px];
         }
         #score-header{
            @apply p-1;
         }
         .title-second{
            @apply mt-4;
         }
         #logo{
            @apply w-[83px];
         }
         body{
            @apply pt-4;
         }
         #status{
            @apply mt-4;
         }
    }

}